# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Environnement — JAMAIS commité
.env

# Docker
*.log

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
