# API
fastapi==0.111.0
uvicorn[standard]==0.29.0

# Base de données
sqlalchemy==2.0.30
psycopg2==2.9.9
alembic==1.13.1

# Worker
celery==5.4.0
redis==5.0.4

# NLP — CPU only (pas de CUDA, réduit l'image de 4Go à 500Mo)
transformers==4.40.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.0+cpu

# Monitoring
prometheus-fastapi-instrumentator==6.1.0

# Tests
pytest==8.2.0
pytest-asyncio==0.23.6
httpx==0.27.0
pytest-env==1.1.3

# Utilitaires
python-dotenv==1.0.1
pydantic-settings==2.2.1